<div id="message-<%= message.id %>" class="<% if  message.user == current_user %> message__current-user <% else %> message <% end %> message-box">
  <p><strong><%=message.user.first_name if message.user != current_user %></strong></p>
  <p class="message__content"><%= message.content %></p>
  <p class="message__time"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></p>
  <% if message.file.attached? %>
  <% if message.file.content_type.in?(['image/jpeg', 'image/jpg', 'image/png']) %>
    <%= link_to rails_blob_path(message.file, disposition: "attachment"), target: "_blank" do %>
      <%= cl_image_tag message.file.key, width: 200, height: 200, crop: :fill %>
    <% end %>
  <% elsif message.file.content_type == 'application/pdf' %>
    <%= link_to message.file.filename, rails_blob_path(message.file, disposition: "attachment"), target: "_blank" %>
  <% end %>
<% end %>

</div>

