
  <div class="comment">
    <div class="comment-avatar">
      <%= image_tag(comment.user.avatar.url, alt: "#{comment.user.first_name}'s avatar", class: "avatar") if comment.user.avatar.attached? %>
    </div>
    <div class="comment-body">
      <div class="comment-user">
        <%= comment.user.first_name %>
      </div>
      <div class="comment-content">
        <p><%= comment.content %></p>
        <% if comment.file.attached? %>
          <% if comment.file.content_type.in?(['image/jpeg', 'image/jpg', 'image/png']) %>
            <%= link_to rails_blob_path(comment.file, disposition: "attachment"), target: "_blank" do %>
              <%= cl_image_tag comment.file.key, width: 200, height: 200, crop: :fill %>
            <% end %>
          <% elsif comment.file.content_type == 'application/pdf' %>
            <%= link_to comment.file.filename, rails_blob_path(comment.file, disposition: "attachment"), target: "_blank" %>
          <% end %>
        <% end %>
      </div>
      <div class="comment-timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </div>
  </div>
