<% content_for :title, "Tasks | CareComms" %>

<div class="container">
  <div class="background-container">
    <h1 class="text-center my-4">My Tasks</h1>
    <div class="row mb-3">
      <div class="col d-flex justify-content-between">
        <% if policy(Task).create? %>
          <%= link_to new_task_path, class: 'btn btn-primary add-task-btn' do %>
            Add Task
            <span class="fas fa-plus"></span>
          <% end %>
        <% end %>

        <div class="dropdown-index">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Filters
          </button>
          <div class="dropdown-menu p-4" aria-labelledby="filterDropdown" style="width: 100%;background-color: rgb(255 255 255);border: none;position: absolute;inset: 0px auto auto 0px;margin: 0px;transform: translate3d(0px, 99px, 0px);border-radius: 15px;" data-popper-placement="bottom-start">
            <%= form_tag tasks_path, method: :get do %>
              <div class="d-flex justify-content-between align-items-end mb-3">
                <div class="me-2">
                  <%= label_tag :priority, 'Priority', class: 'form-label-index' %>
                  <%= select_tag :priority, options_for_select({'High' => '3', 'Medium' => '2', 'Low' => '1'}, selected: params[:priority]), include_blank: 'All', class: 'form-select' %>
                </div>
                <% if current_user.admin? %>
                  <div class="me-2">
                    <%= label_tag :view_option, 'View Option', class: 'form-label-index' %>
                    <%= select_tag :view_option, options_for_select({'All Tasks' => 'all', 'My Tasks' => 'mine'}, selected: params[:view_option]), include_blank: false, class: 'form-select' %>
                  </div>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="form-check mb-3">
                <div class="checkbox-index-filter">
                  <%= check_box_tag :completed, 'true', params[:completed] == 'true', class: 'form-check-input' %>
                  <%= label_tag :completed, 'Completed', class: 'form-check-label' %>
                </div>
                </div>
                <%= submit_tag 'Apply Filters', class: 'submit-filter' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <li class="task-item <%= 'task-completed' if task.completed %>"
        data-controller="task-toggle"
        data-action="change->task-toggle#updateCompletion"
        data-task-toggle-url-value="<%= toggle_completion_task_path(task) %>">
      <%= form_with model: task, url: toggle_completion_task_path(task), method: :patch, local: true, id: "task_completion_form_#{task.id}", data: { turbo_frame: dom_id(task) } do |form| %>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <div class="task-checkbox">
              <%= form.check_box :completed, class: "task-checkbox-input", data: { task_toggle_target: "checkbox" } %>
            </div>
            <%= link_to task.title, task_path(task), class: "task-title" %>
          </div>
          <div class="task-users mt-2">
            <% task.user_tasks.each do |user_task| %>
              <%= image_tag(user_task.user.avatar, alt: "#{user_task.user.first_name}'s avatar", class: "task-avatar") if user_task.user.avatar.attached? %>
            <% end %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="bottom-spacer"></div>
</div>
