<div class="container">
<div class=background-container>
  <h1 class="text-center my-4">My tasks</h1>

  <div class="row mb-3">
    <div class="col">
      <% if policy(Task).create? %>
        <%= link_to new_task_path, class: 'add-task-btn' do %>
          Add Task
          <span class="add-task-icon">+</span>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <%= form_tag tasks_path, method: :get, class: "filter-form" do %>
        <%= select_tag :priority, options_for_select({'High' => '3', 'Medium' => '2', 'Low' => '1'}, selected: params[:priority]), include_blank: 'All', onchange: 'this.form.submit()' %>
        <i class="fa-solid fa-caret-down select-caret"></i>

        <% if current_user.admin? %>
          <%= select_tag :view_option, options_for_select({'All Tasks' => 'all', 'My Tasks' => 'mine'}, selected: params[:view_option]), include_blank: false, onchange: 'this.form.submit()' %>
          <i class="fa-solid fa-caret-down select-caret fa-caret-down-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  <div class="spacer"></div>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <li class="task-item <%= 'task-completed' if task.completed %>"
        data-controller="task-toggle"
        data-action="change->task-toggle#updateCompletion"
        data-task-toggle-url-value="<%= toggle_completion_task_path(task) %>">
      <%= form_with model: task, url: toggle_completion_task_path(task), method: :patch, local: true, id: "task_completion_form_#{task.id}", data: { turbo_frame: dom_id(task) } do |form| %>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <div class="task-checkbox">
              <%= form.check_box :completed, class: "task-checkbox-input", data: { task_toggle_target: "checkbox" } %>
            </div>
            <%= link_to task.title, task_path(task), class: "task-title" %>
          </div>
          <div class="task-users mt-2">
            <% task.user_tasks.each do |user_task| %>
              <%= image_tag(user_task.user.avatar, alt: "#{user_task.user.first_name}'s avatar", class: "task-avatar") if user_task.user.avatar.attached? %>
            <% end %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="bottom-spacer"></div>
</div>
