<%= form_with(model: @task, local: true, data: { turbo: false }) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :deadline %><br>
    <%= form.datetime_select :deadline %>
  </p>

  <p>
    <%= form.label :priority %><br>
    <%= form.select :priority, Task.priorities.map { |key, value| [key.capitalize, key] } %>
  </p>

<% User.all.each do |user| %>
  <%= check_box_tag 'user_ids[]', user.id, @task.users.include?(user) %>
  <%= image_tag(user.avatar, alt: "#{user.full_name}'s avatar", class: "avatar-bordered") if user.avatar.attached? %>
  <%= user.full_name %><br>
<% end %>

  <%= form.submit 'Create Task' %>
<% end %>

<%= link_to 'Back to Tasks', tasks_path %>
