<div class="header">
  <%= link_to tasks_path, class: "back-button" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <h1 class="header-title"><%= @task.title %></h1>

  <% if policy(@task).edit? %>
    <div class="dropdown">
      <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <%= link_to 'Edit', edit_task_path(@task), class: "dropdown-item" %>
        <%= button_to 'Delete Task', task_path(@task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "dropdown-item" %>
      </div>
    </ul>
  <% end %>
</div>

<div class="task-section description-section">
  <h3>Descriptions</h3>
  <p><%= @task.description %></p>
</div>

<div class="task-section assigned-section">
  <h3>Assigned Staff</h3>
  <%= turbo_frame_tag "task_users" do %>
    <div class="staff-list">
      <ul>
        <% @task.user_tasks.each do |user_task| %>
          <li id="user_task_<%= user_task.id %>" class="staff-member">
            <div class="avatar-container">
              <%= image_tag(user_task.user.avatar, alt: "#{user_task.user.first_name}'s avatar", class: "staff-avatar") if user_task.user.avatar.attached? %>
              <% if policy(@task).edit? %>
                <%= button_to '', user_task_path(user_task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "remove-staff-btn" %>
              <% end %>
            </div>
            <span class="staff-name"><%= user_task.user.first_name %></span>
          </li>
        <% end %>
        <% end %>
        <% if policy(@task).edit? %>
          <div class="add-user-container" data-controller="add-user">
            <%= form_with url: add_user_task_path(@task), method: :post, id: "add-user-form", remote: true do |form| %>
              <div class="add-member-button" >+</div>
              <%= select_tag :user_id, options_for_select([['', nil]] + User.all.map { |user| [user.first_name, user.id] }), id: 'user-select', class: "user-select", data: { add_user_target: "select" }, onchange: "this.form.submit();" %>
            <% end %>
            <span class="staff-name">Add Staff</span>
          </div>
        <% end %>
       </ul>
    </div>
</div>

<div class="task-section prio-section">
  <% if policy(@task).edit? %>
    <%= form_with model: @task, url: task_path(@task), method: :patch, local: true do |form| %>
      <fieldset class="form-group">
        <%= form.label :priority, 'Priority:', class: 'form-label' %>
        <% Task.priorities.keys.each do |priority| %>
          <div class="form-check">
            <%= form.radio_button :priority, priority, class: 'form-check-input', onchange: "this.form.submit();" %>
            <%= form.label :priority, priority.capitalize, value: priority, class: 'form-check-label' %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  <% else %>
      <p class="form-group"> <strong>Priority:</strong> <%= @task.priority.capitalize %></p>
  <% end %>
</div>

<div class="task-section deadline-container">
  <h3>Deadline</h3>
  <div class=deadline-box>
  <div class="deadline-icon-container">
    <i class="fa-solid fa-calendar-days deadline-icon"></i>
    <p class="deadline-time"><%= @task.deadline.strftime('%a %b %d %H:%M') %></p>
  </div>
  </div>
</div>

<div class="task-section comments-container">
  <h3>Comments:</h3>
  <%= turbo_frame_tag "comments" do %>
    <div class="comments-list">
      <% @task.task_comments.each do |comment| %>
        <div class="comment">
          <div class="comment-avatar">
            <%= image_tag(comment.user.avatar.url, alt: "#{comment.user.first_name}'s avatar", class: "avatar") if comment.user.avatar.attached? %>
          </div>
          <div class="comment-body">
            <div class="comment-user">
              <%= comment.user.first_name %>
            </div>
            <div class="comment-content">
              <p><%= comment.content %></p>
              <% if comment.file.attached? %>
                <% if comment.file.content_type.in?(['image/jpeg', 'image/jpg', 'image/png']) %>
                  <%= link_to rails_blob_path(comment.file, disposition: "attachment"), target: "_blank" do %>
                    <%= cl_image_tag comment.file.key, width: 200, height: 200, crop: :fill %>
                  <% end %>
                <% elsif comment.file.content_type == 'application/pdf' %>
                  <%= link_to comment.file.filename, rails_blob_path(comment.file, disposition: "attachment"), target: "_blank" %>
                <% end %>
              <% end %>
            </div>
            <div class="comment-timestamp">
              <%= time_ago_in_words(comment.created_at) %> ago
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="comments-and-toggle-container">

  <div class="add-comment-section">
    <%= form_with model: [ @task, TaskComment.new ], url: task_comments_path(@task), local: true, id: "new_comment_form" do |form| %>
      <h3>Add a Comment:</h3>
      <div class="comment-form-container" data-controller="mentions" data-action="keyup->mentions#keyup">
        <div data-mentions-target="suggestions" class="suggestions-container hidden"></div>
        <%= form.text_area :content, placeholder: 'Your Comment...', class: 'comment-text-area', data: { mentions_target: "input" } %>

    <div class="file-upload-wrapper" data-controller="file-upload">
      <%= form.file_field :file, accept: 'application/pdf,image/png,image/jpeg', class: 'hidden-file-input', id: 'hidden-file-input', data: { action: "change->file-upload#displayFileName" } %>
      <label for="hidden-file-input" class="file-upload-label">
        <i class="fa-solid fa-paperclip"></i>
        <span class="file-upload-button-text"></span>
        <span class="file-name" data-file-upload-target="fileName"></span>
      </label>
    </div>      </div>
      <%= form.submit 'Submit Comment', class: 'submit-comment-btn' %>
    <% end %>
  </div>

  <%= form_with url: toggle_completion_task_path(@task), method: :patch, local: true, id: "task_completion_form_#{@task.id}", data: { turbo_frame: "task_#{@task.id}" } do |form| %>
    <div class="task-toggle-switch form-check form-switch">
      <%= form.check_box :completed, checked: @task.completed?, class: "form-check-input", id: "completedSwitch#{@task.id}", onchange: "this.form.submit();", style: "font-size: 30px;" %>
      <%= form.label :completed, 'Task done?', class: "form-check-label", for: "completedSwitch#{@task.id}", style: "position: absolute;
      top: -50%;
      right: 2px;
      white-space: nowrap;
      opacity: 25%;" %>
    </div>
  <% end %>

</div>
