<h1>Tasks#show</h1>
<h2>Title: <%= @task.title %></h2>
<p>Description: <%= @task.description %></p>

<h3>Assigned Users:</h3>
<ul>
  <% @task.user_tasks.includes(:user).each do |user_task| %>
    <li>
      <%= image_tag(user_task.user.avatar, alt: "#{user_task.user.first_name}'s avatar", class: "avatar-bordered") if user_task.user.avatar.attached? %>
      <%= user_task.user.first_name %> <%= user_task.user.last_name %>
    </li>
  <% end %>
</ul>

<p> Deadline: <%= @task.deadline %></p>

<!-- Display all comments related to this task -->
<h3>Comments:</h3>
<% if @task.task_comments.any? %>
  <% @task.task_comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
<% else %>
  <p>No comments yet.</p>
<% end %>

<h3>Add a Comment:</h3>
<%= form_with(url: task_comments_path(@task), local: true) do |form| %>
  <div>
    <%= form.label :content, 'Your Comment:' %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.hidden_field :task_id, value: @task.id %>
    <%= form.submit 'Submit Comment' %>
  </div>
<% end %>

<!-- Add links for user actions -->
<%= link_to 'Back to Tasks', tasks_path %>
