<%= link_to tasks_path, class: "back-button" do %>
  <i class="fa fa-arrow-left"></i>
<% end %>

<% if policy(@task).edit? %>
  <div class="dropdown">
    <%= link_to 'Edit', edit_task_path(@task), class: "dropdown-item" %>
    <%= button_to 'Delete Task', task_path(@task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
<% end %>

<h2>Title: <%= @task.title %></h2>
<p>Description: <%= @task.description %></p>

<h3>Assigned Users:</h3>
<%= turbo_frame_tag "task_users" do %>
  <ul>
    <% @task.user_tasks.each do |user_task| %>
      <li id="user_task_<%= user_task.id %>">
        <%= image_tag(user_task.user.avatar, alt: "#{user_task.user.first_name}'s avatar", class: "avatar-bordered") if user_task.user.avatar.attached? %>
        <%= user_task.user.first_name %> <%= user_task.user.last_name %>
        <% if policy(@task).edit? %>
        <%= button_to 'Remove', user_task_path(user_task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if policy(@task).edit? %>
<%= form_with url: add_user_task_path(@task), method: :post do |form| %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :first_name) %>
  <%= form.submit "Add User" %>
<% end %>
<% end %>

<p> Deadline: <%= @task.deadline %></p>

<% if policy(@task).edit? %>
  <%= form_with model: @task, url: task_path(@task), method: :patch, local: true do |form| %>
    <div class="field">
      <%= form.label :priority, 'Priority:' %>
      <%= form.select :priority, Task.priorities.keys.map { |priority| [priority.capitalize, priority] }, {}, { onchange: "this.form.submit();" } %>
    </div>
  <% end %>
<% else %>
  <p>Priority: <%= @task.priority.capitalize %></p>
<% end %>

<h3>Comments:</h3>
<%= turbo_frame_tag "comments" do %>
  <% @task.task_comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
<% end %>


<h3>Add a Comment:</h3>
<%= turbo_frame_tag "new_comment" do %>
  <%= form_with model: [ @task, TaskComment.new ], url: task_comments_path(@task), id: "new_comment_form" do |form| %>
    <div data-controller="mentions" data-action="keyup->mentions#keyup">
      <%= form.label :content, 'Your Comment:' %>
      <%= form.text_area :content, data: { mentions_target: "input" } %>
      <div data-mentions-target="suggestions" class="suggestions-container hidden"></div>
    </div>
    <div>
      <%= form.submit 'Submit Comment' %>
    </div>
  <% end %>
<% end %>




<%= form_with model: @task, url: toggle_completion_task_path(@task), method: :patch, id: "task_completion_form_#{@task.id}", data: { turbo_frame: "task_#{@task.id}" } do |form| %>
  <div class="form-check form-switch">
    <%= form.check_box :completed, class: "form-check-input", id: "completedSwitch#{@task.id}", onchange: "this.form.submit();" %>
    <%= form.label :completed, 'Completed:', class: "form-check-label", for: "completedSwitch#{@task.id}" %>
  </div>
<% end %>
