<h1>Chatrooms#show</h1>
<p>Find me in app/views/chatrooms/show.html.erb</p>

<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
  <% end %>
</div>
</div>

<%= simple_form_for [@chatroom, Message.new], html: {
  data: {
    controller: "mentions",
    action: "keyup->mentions#keyup"
  },
  class: "d-flex"
} do |f| %>
  <%= f.input :content,
    label: false,
    input_html: {
      data: {
        mentions_target: "input"
      },
      placeholder: "Message ##{@chatroom.name}"
    },
    wrapper_html: { class: "flex-grow-1" }
  %>
  <div data-mentions-target="suggestions" class="suggestions-container hidden"></div>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
