<% content_for :title, "Chatroom | CareComms" %>

<div class="header-chatroom">

  <h1 class="header-title">Chatroom</h1>

</div>

<div class='chatroom' data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom__messages" data-chatroom-subscription-target="list">
    <div data-chatroom-subscription-target="messages" class="chatroom__messages-container">
      <% @chatroom.messages.order(created_at: :asc).each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>


  <div class="chatroom__form">
    <%= simple_form_for [@chatroom, Message.new], html: {
      data: {
        controller: "mentions",
        action: "keyup->mentions#keyup turbo:submit-end->chatroom-subscription#resetForm",
      }
    } do |f| %>
      <div data-mentions-target="suggestions" class="suggestions-container d-none"></div>
      <div style="position:relative">
        <%= f.input :content,
            label: false,
            input_html: {
              data: {
                mentions_target: "input"
              },
              placeholder: "Message ##{@chatroom.name}"
            },
            wrapper_html: { class: "" }
          %>
        <div class="file-upload-wrapper" data-controller="file-upload">
          <%= f.file_field :file, accept: 'application/pdf,image/png,image/jpeg', class: 'hidden-file-input', id: 'hidden-file-input', data: { action: "change->file-upload#displayFileName" } %>
          <label for="hidden-file-input" class="file-upload-label">
            <i class="fa-solid fa-paperclip"></i>
            <span class="file-upload-button-text"></span>
            <span class="file-name" data-file-upload-target="fileName"></span>
          </label>
        </div>
      </div>
      <%= f.submit "Send", class: "submit-comment-btn", id:"submit-chatroom" %>
    <% end %>
  </div>
</div>
