<h1>Chatroom</h1>
<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <h2>#<%= @chatroom.name %></h2>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.order(created_at: :asc).each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

<div class="form-container">
<%= simple_form_for [@chatroom, Message.new], html: {
  data: {
    controller: "mentions",
    action: "keyup->mentions#keyup",
    action: "turbo:submit-end->chatroom-subscription#resetForm",
  },
  class: "d-flex"
} do |f| %>
  <%= f.input :content,
    label: false,
    input_html: {
      data: {
        mentions_target: "input"
      },
      placeholder: "Message ##{@chatroom.name}"
    },
    wrapper_html: { class: "" }
  %>
  <div data-mentions-target="suggestions" class="suggestions-container hidden"></div>
  <%= f.input :file, as: :file, accept: 'application/pdf,image/png,image/jpeg' %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>
