<div class="navbar navbar-expand navbar-light bg-light navbar-bottom">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to dashboard_path, class: "nav-link" do %>
              <i class="fa-solid fa-house"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to calendar_path, class: "nav-link" do%>
              <i class="fa-solid fa-calendar-days"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to team_path, class: "nav-link" do%>
              <i class="fa-solid fa-people-group"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to chatroom_by_name_path(name: "General"), class: "nav-link" do%>
              <i class="fa-regular fa-comments"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to profile_path(id: current_user.id) do %>
              <% if current_user.avatar.attached? %>
                <%= cl_image_tag current_user.avatar.key, class: "rounded-circle avatar", alt: "User avatar" %>
              <% else %>
                <%= image_tag "avatar_placeholder.jpg", class: "rounded-circle avatar", alt: "User avatar" %>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
