<div class='header-primary'>
  <h1>Your calendar</h1>
</div>
<div class='container calendar'>
  <div data-controller="calendar"
      data-calendar-is-admin="<%= current_user.admin? %>">
    <div class='d-flex justify-content-between align-items-center' style="margin-top: 58px;">
      <div>
        <label>View:</label>
        <button data-action="click->calendar#toggleCalendarView" data-calendar-target="toggleButton" class='button-calendar'>Shifts</button>
      </div>
      <select class="calendar-form-select" data-action="change->calendar#showCalendar" data-calendar-target="filterSelect">
        <option value="0" disabled selected>Select a calendar...</option>
        <% if current_user.admin? %>
          <option value="2">All Tasks</option>
        <% end %>
        <option value="1">All Shifts</option>
        <option value="3">My Shifts</option>
        <option value="4">My Tasks</option>
      </select>
    </div>

    <div data-calendar-target='calendarAllShifts' class='d-none shifts-calendar'>
      <%= calendar(number_of_days: 3, events: @all_shifts) do |date, shifts| %>
        <%= date.strftime("%d") %>
          <% shifts.each do |shift| %>
            <div class='calendar-users'>
              <% shift.users.each do |user| %>
                <%= cl_image_tag user.avatar.key, class: 'avatar' %>
              <% end %>
            </div>
              <p class='calendar-shifts'><%= shift.start_date.strftime("%H:%M") %> - <%= shift.end_date.strftime("%H:%M") %></p>
          <% end %>
      <% end %>
    </div>

    <div data-calendar-target='calendarAllTasks' class='d-none'>
      <%= calendar(number_of_days: 3, events: @all_tasks) do |date, tasks| %>
        <%= date.strftime("%d") %>
          <ul>
            <% tasks.each do |task| %>
                <li class='calendar-tasks'>
                  <%= link_to task.title, task_path(task) %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>

    <div data-calendar-target='calendarMyShifts' class='d-none shifts-calendar'>
      <%= calendar(number_of_days: 3, events: @user_shifts) do |date, shifts| %>
        <%= date.strftime("%d") %>
          <% shifts.each do |shift| %>
            <div class='calendar-users'>
              <% shift.users.each do |user| %>
                  <%= cl_image_tag user.avatar.key, class: 'avatar' %>
              <% end %>
            </div>
              <p class='calendar-shifts' ><%= shift.start_date.strftime("%H:%M") %> - <%= shift.end_date.strftime("%H:%M") %></p>
          <% end %>
      <% end %>
    </div>

    <div data-calendar-target='calendarMyTasks' class='d-none'>
      <%= calendar(number_of_days: 3, events: @my_tasks) do |date, tasks| %>
        <%= date.strftime("%d") %>
        <% tasks.each do |task| %>
          <ul>
            <li class='calendar-tasks'>
              <%= link_to task.title, task_path(task) %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
