<div class="dashboard-header">
  <h1>Welcome <%= current_user.first_name %>!</h1>
  <%= link_to mentions_path do %>
  <div class="notification-icon">
  <i class="fa-solid fa-bell"></i>
  </div>
  <% end %>
</div>

 <%= link_to tasks_path(priority: 3) do %>
 <div class="container-dashboard">
  <div class="dash-cards">
    <div class="dash-card">
      <div class="card-content">
      <h3> <%= @tasks_priority %> </h3>
      <p> Priority tasks</p>
      </div>
    </div> 
    <% end %>

<%= link_to tasks_path(view_option: 'mine') do %>
    <div class="dash-card">
      <div class="card-content">
          <h3><%= current_user.tasks.count %></h3>
        <p> Total tasks</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class= "dashboard-shift-title">
  <h3> Shifts </h3>
  </div>
  <div class="shifts-container">
    <% current_user.shifts.each do |shift| %>
      <div class="shift-card">
        <i class="fa-solid fa-calendar-days deadline-icon"></i>
        <%= shift.start_date.strftime('%a %b %d %H:%M') %>
      </div>
    <% end %>
    </div>

  <div class="dashboard-team-shift-title">
      <h3>Team on Shift</h3>
  </div>
  <div class="team-shift-container">
      <div class="team-shift-row">
          <ul>
              <% @users_on_shift.each do |user| %>
              <li class="user-shift">
                  <div class="user-shift-card">
                      <div class="user-shift-avatar-container">
                          <% if user.avatar.attached? %>
                          <%= link_to cl_image_tag(user.avatar.key, class: "dash-shift-avatar"), profile_path(id: user.id) %>
                          <% else %>
                          <%= link_to image_tag("avatar_placeholder.jpg", class: "dash-shift-avatar"), profile_path(id: user.id) %>
                          <% end %>
                      </div>
                      <%= link_to user.first_name, profile_path(id: user.id), class: "user-name-dashboard" %>
                  </div>
              </li>
              <% end %>
          </ul>
      </div>
  </div>

</div>
