<h1>Welcome <%= current_user.first_name %>!</h1>
<% if current_user.avatar.attached? %>
  <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
  <% else %>
  <%= image_tag "avatar_placeholder.jpg", class: "avatar" %>
<% end %>
<%= link_to tasks_path(priority: 3) do %>
<h3>Priority <i class="fa-solid fa-triangle-exclamation"></i></h3>
<% end %>
<p><%= @tasks_priority %> tasks</p>
<h3> Mentions <i class="fa-solid fa-at"></i></h3>
<p> 3 mentions </p>
<h3> Shifts <i class="fa-regular fa-calendar"></i></h3>
<ul>
  <% current_user.shifts.each do |shift| %>
    <li>
      <%= shift.start_date.strftime("%d-%m-%Y %H:%M") %>
    </li>
  <% end %>
</ul>
<%= link_to tasks_path do %>
<h3>Tasks <i class="fa-solid fa-list-check"></i></h3>
<% end %>
<p><%= current_user.tasks.count %> tasks</p>
<h2>Team on shift</h2>
<% @users_on_shift.each do |user|%>
  <% if user.avatar.attached? %>
    <%= link_to cl_image_tag(user.avatar.key, class: "avatar"), profile_path(id: user.id) %>
  <% else %>
    <%= link_to image_tag("avatar_placeholder.jpg", class: "avatar"), profile_path(id: user.id) %>
  <% end %>
  <%= link_to user.first_name, profile_path(id: user.id), class: "user-name" %>
  <p>Nurse</p>
<% end %>
