<h1>Welcome <%= current_user.first_name %>!</h1>
<% if current_user.avatar.attached? %>
  <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
  <% else %>
  <%= image_tag "avatar_placeholder.jpg", class: "avatar" %>
<% end %>
<h3>Priority <i class="fa-solid fa-triangle-exclamation"></i></h3>
<%= @tasks.count%> <p>tasks</p>
<h3> Mentions <i class="fa-solid fa-at"></i></h3>
<p> 3 mentions </p>
<h3> Shift <i class="fa-regular fa-calendar"></i></h3>
<p> Today </p>
<h3> Tasks <i class="fa-solid fa-list-check"></i></h3>
<%= @tasks.count %> <p>tasks</p>
<h2>Team on shift</h2>
<% @users.each do |user|%>
  <% if user.avatar.attached? %>
    <%= cl_image_tag user.avatar.key, class: "avatar" %>
    <% else %>
    <%= image_tag "avatar_placeholder.jpg", class: "avatar" %>
  <% end %>
  <%= user.first_name %>
  <p>Nurse</p>
<% end %>
