<%# profile.html.erb %>

<div class='profile-header'>
  <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: "profile-avatar" %>
    <% else %>
      <%= image_tag "avatar_placeholder.jpg", class: "profile-avatar" %>
  <% end %>
  <h1><%= @user.first_name %></h1>
    <p>Nurse</p>
</div>
<div class= 'container-profile' data-controller='profile'>
  <div class='button-select-display'>
    <button data-action="click->profile#display" data-profile-target="btnShifts" data-value="1" class='button-select'>Shifts</button>
    <button data-action="click->profile#display" data-profile-target="btnTasks" data-value="2" class='button-select'>Tasks</button>
  </div>
  <div class='shifts-display' data-profile-target='shifts'>

    <% @shifts.each do |shift| %>
      <div data-controller="edit-shifts" class='edit-shifts'>
        <div class='shift-card-profile'>
          <% if shift.start_date.hour >= 5 && shift.start_date.hour <= 18 %>
            <div class='shift-icon-day'>
              <i class="fa-regular fa-sun"></i>
            </div>
              <p><%= shift.start_date.to_fs(:short) %> to <%= shift.end_date.strftime("%H:%M") %></p>
            <% else %>
            <div class='shift-icon-night'>
              <i class="fa-regular fa-moon"></i>
            </div>
              <p><%= shift.start_date.to_fs(:short) %> to <%= shift.end_date.strftime("%H:%M") %></p>
          <% end %>
          <% if policy(Shift).update? %>
            <button data-action="click->edit-shifts#showForm" class="edit-button"><i class="fa-regular fa-pen-to-square"></i></button>
          <% end %>
          </div>
        <div class="shifts-edit" data-edit-shifts-target="form">
          <%= simple_form_for(shift) do |f| %>
            <div class='d-flex'>
              <%= f.collection_select :id, Shift.all, :id, :shift_info, { prompt: 'Select a shift' }, class: 'form-control-update' %>
              <%= f.hidden_field :user_id, value: @user.id %>
              <%= f.submit 'Update', class: "button-assign-shift" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<div data-profile-target='tasks' class='d-none'>
  <ul>
    <% @tasks.each do |task| %>
      <li class="task-item-profile <%= 'task-completed' if task.completed %>"
          data-controller="task-toggle"
          data-action="change->task-toggle#updateCompletion"
          data-task-toggle-url-value="<%= toggle_completion_task_path(task) %>">
        <%= form_with model: task, url: toggle_completion_task_path(task), method: :patch, local: true, class: 'd-flex', id: "task_completion_form_#{task.id}", data: { turbo_frame: dom_id(task) } do |form| %>
          <div class="task-checkbox">
            <%= form.check_box :completed, class: "task-checkbox-input", data: { task_toggle_target: "checkbox" } %>
          </div>
          <div>
              <%= link_to task.title, task_path(task), class: "task-title" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>
