<h1>My Shifts</h1>
<div id="shifts-list">
<% @shifts.each do |shift| %>
  <div data-controller="edit-shifts"
       data-edit-shifts-update-url="<%= shift_path(shift) %>"
       data-shift-id-value="<%= shift.id %>">
    <div data-edit-shifts-target="shiftDetails">
      <p>Shift: <%= shift.start_date %> to <%= shift.end_date %></p>
      <%= link_to "Edit", "#", data: { action: "edit-shifts#showForm" } %>
    </div>
    <div class="hidden" data-edit-shifts-target="form">
      <%= form_for(shift, remote: true, data: { action: "ajax:success->edit-shifts#updateSuccess ajax:error->edit-shifts#updateError" }) do |f| %>
        <%= f.datetime_field :start_date %>
        <%= f.datetime_field :end_date %>
        <%= f.submit "Update Shift" %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
