<h1>Your team</h1>
<h2>On duty</h2>
<% @users.each do |user|%>
  <% if user.avatar.attached? %>
    <%= link_to cl_image_tag(user.avatar.key, class: "avatar"), profile_path(id: user.id) %>
    <% else %>
    <%= link_to image_tag("avatar_placeholder.jpg", class: "avatar"), profile_path(id: user.id) %>
  <% end %>
  <%= link_to user.first_name, profile_path(id: user.id), class: "user-name" %>
  <p>Nurse</p>
<% end %>
<h2>Out today</h2>
<% @users.each do |user|%>
  <% if user.avatar.attached? %>
    <%= link_to cl_image_tag(user.avatar.key, class: "avatar"), profile_path(id: user.id) %>
    <% else %>
    <%= link_to image_tag("avatar_placeholder.jpg", class: "avatar"), profile_path(id: user.id) %>
  <% end %>
  <%= link_to user.first_name, profile_path(id: user.id), class: "user-name" %>
  <p>Nurse</p>
<% end %>
