<div class='header-primary'>
  <h1>Notifications</h1>
</div>
<div class='container-notifications'>
  <div>
    <ul>
      <% @notifications.each do |notification| %>
        <li>
          <div class='notification-card'>
            <% if notification.event.record_type == "MentionMessage" %>
                <%= link_to chatroom_by_name_path(name: notification.record.message.chatroom.name ) do %>
                  <div class='notification-info'>
                    <%= cl_image_tag notification.record.message.user.avatar.key, class:'avatar' %>
                    <p><%= notification.record.message.user.first_name %> mentioned you in the <strong>Chatroom: <%= notification.record.message.chatroom.name %></strong></p>
                    <p class='notif-time'><%= time_ago_in_words(notification.created_at) %> </p>
                  </div>
                <% end %>
              <% elsif notification.event.record_type == "MentionComment"%>
                <%= link_to task_path(notification.record.task_comment.task) do %>
                  <div class='notification-info'>
                    <%= cl_image_tag notification.record.task_comment.user.avatar.key, class:'avatar' %>
                    <p><%= notification.record.task_comment.user.first_name %> mentioned you on <strong><%= notification.record.task_comment.task.title %></strong></p>
                    <p class='notif-time'><%= time_ago_in_words(notification.created_at) %></p>
                  </div>
                <% end %>
              <% else %>
                <div class='notification-info'>
                  <i class="fa-regular fa-calendar-plus"></i>
                  <p>Shift update: <%= notification.record.shift.start_date.to_fs(:short) %> to <%= notification.record.shift.end_date.strftime("%H:%M") %></p>
                </div>
              <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
