<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CareComms | Empowering care-teams through collaboration" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'fotor-20240315145532.png' %>
    <meta property="og:image" content="<%= image_url('https://res.cloudinary.com/dswjgd3a4/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1710521144/DALL_E_2024-03-13_17.58.04_-_Design_a_serious_and_professional_round_logo_for_CareComms_a_task_manager_app_for_nurses-Photoroom_1_-Photoroom.png-Photoroom_3_opuqtp.jpg?_s=public-apps') %>" />
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="body">
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
